red-node.json
[{"id":"8439955d.a5d03","type":"tab","label":"Projekt","disabled":false,"info":""},{"id":"29eb9128.f3f40e","type":"ui_gauge","z":"8439955d.a5d03","name":"","group":"baf35e56.f97208","order":4,"width":0,"height":0,"gtype":"gage","title":"Flaschen","label":"Stück","format":"{{payload[0][\"MAX(FlaschenID)\"]}}","min":0,"max":"10000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":860,"wires":[]},{"id":"126d8f35.0eede9","type":"ui_gauge","z":"8439955d.a5d03","name":"","group":"c25b0975.21c988","order":1,"width":0,"height":0,"gtype":"gage","title":"befüllte Paletten:","label":"Paletten","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":480,"wires":[]},{"id":"769e6a21.d8b284","type":"inject","z":"8439955d.a5d03","name":"Go","topic":"ns=2;s=PSTV.P1.DS1.Int32","payload":"","payloadType":"num","repeat":"1","crontab":"","once":false,"onceDelay":"","x":70,"y":340,"wires":[["c79da22e.275ca"]]},{"id":"ee04bd2c.ee009","type":"OpcUa-Client","z":"8439955d.a5d03","endpoint":"26cd480b.e5327","action":"subscribe","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","name":"","x":440,"y":340,"wires":[["89da014e.e537b8","f60ed178.71871"]]},{"id":"89da014e.e537b8","type":"debug","z":"8439955d.a5d03","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":340,"wires":[]},{"id":"b2c50230.6f4dd","type":"inject","z":"8439955d.a5d03","name":"Go","topic":"ns=2;s=PSTV.P1.DS1.Int32Fast","payload":"","payloadType":"num","repeat":"1","crontab":"","once":false,"onceDelay":"","x":70,"y":440,"wires":[["b22e7eb3.796b68"]]},{"id":"7a98cb7f.0bdbdc","type":"OpcUa-Client","z":"8439955d.a5d03","endpoint":"26cd480b.e5327","action":"subscribe","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","name":"","x":440,"y":440,"wires":[["b2558ba4.162b1","126d8f35.0eede9"]]},{"id":"b2558ba4.162b1","type":"debug","z":"8439955d.a5d03","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":440,"wires":[]},{"id":"f7b0b32a.7a4ba","type":"comment","z":"8439955d.a5d03","name":"OPC UA Client Abfrage","info":"","x":110,"y":240,"wires":[]},{"id":"6b2ad913.d5253","type":"comment","z":"8439955d.a5d03","name":"Datenbankabfrage","info":"","x":90,"y":760,"wires":[]},{"id":"c79da22e.275ca","type":"delay","z":"8439955d.a5d03","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":340,"wires":[["ee04bd2c.ee009"]]},{"id":"b22e7eb3.796b68","type":"delay","z":"8439955d.a5d03","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":440,"wires":[["7a98cb7f.0bdbdc"]]},{"id":"1c82da03.3cda9e","type":"function","z":"8439955d.a5d03","name":"SELECT Flaschen","func":"msg.topic = \"SELECT MAX(FlaschenID) FROM `bottlefillinglayout`.`limonaden_produziert`\";\nreturn msg;\n","outputs":1,"noerr":0,"x":310,"y":860,"wires":[["a6c8b41a.ed23e8"]]},{"id":"a969f271.471d48","type":"ui_gauge","z":"8439955d.a5d03","name":"","group":"baf35e56.f97208","order":5,"width":0,"height":0,"gtype":"gage","title":"defekte Flaschen","label":"Stück","format":"{{payload[0][\"MAX(FlaschenID)\"]}}","min":0,"max":"10000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":920,"wires":[]},{"id":"8cf0cdc4.3b235","type":"mysql","z":"8439955d.a5d03","mydb":"1a98b8b3.10c0e7","name":"","x":590,"y":800,"wires":[["6ebd8a00.603bf8"]]},{"id":"99b7927a.e9098","type":"function","z":"8439955d.a5d03","name":"SELECT Palette","func":"msg.topic ='SELECT MAX(PalettenID) FROM `bottlefillinglayout`.`limonaden_produziert`';\nreturn msg;\n","outputs":1,"noerr":0,"x":310,"y":800,"wires":[["8cf0cdc4.3b235"]]},{"id":"6ebd8a00.603bf8","type":"ui_gauge","z":"8439955d.a5d03","name":"","group":"baf35e56.f97208","order":2,"width":0,"height":0,"gtype":"gage","title":"Paletten","label":"Stück","format":"{{payload[0][\"MAX(PalettenID)\"]}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":800,"wires":[]},{"id":"16b7c61e.df5e9a","type":"inject","z":"8439955d.a5d03","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"onceDelay":"","x":90,"y":800,"wires":[["99b7927a.e9098"]]},{"id":"a6c8b41a.ed23e8","type":"mysql","z":"8439955d.a5d03","mydb":"1a98b8b3.10c0e7","name":"","x":590,"y":860,"wires":[["29eb9128.f3f40e"]]},{"id":"c1bb3515.1c5e98","type":"mysql","z":"8439955d.a5d03","mydb":"1a98b8b3.10c0e7","name":"","x":590,"y":920,"wires":[["a969f271.471d48"]]},{"id":"c76f4b7.4665e38","type":"inject","z":"8439955d.a5d03","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"onceDelay":"","x":90,"y":860,"wires":[["1c82da03.3cda9e"]]},{"id":"d2f456ef.331308","type":"inject","z":"8439955d.a5d03","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"onceDelay":"","x":90,"y":920,"wires":[["1473e318.bd34b5"]]},{"id":"1473e318.bd34b5","type":"function","z":"8439955d.a5d03","name":"SELECT def. Flaschen","func":"msg.topic = \"SELECT MAX(FlaschenID) FROM `bottlefillinglayout`.`limonaden_defekt`;\";\nreturn msg;\n","outputs":1,"noerr":0,"x":320,"y":920,"wires":[["c1bb3515.1c5e98"]]},{"id":"8b2222b6.d53f18","type":"comment","z":"8439955d.a5d03","name":"befüllte Paletten","info":"","x":80,"y":400,"wires":[]},{"id":"18025acf.ed6f65","type":"comment","z":"8439955d.a5d03","name":"Flaschen auf einer Palette","info":"","x":110,"y":300,"wires":[]},{"id":"4d173641.4d9bc8","type":"comment","z":"8439955d.a5d03","name":"Aussortierte Flaschen","info":"","x":100,"y":500,"wires":[]},{"id":"efbed8da.88563","type":"ui_gauge","z":"8439955d.a5d03","name":"","group":"db7a4589.b986d","order":5,"width":0,"height":0,"gtype":"gage","title":"verbleibende Flaschen","label":"Stück","format":"{{payload[0][\"MIN(leere Flaschen)\"]}}","min":"0","max":"50000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":840,"y":980,"wires":[]},{"id":"87adc7d1.e86008","type":"mysql","z":"8439955d.a5d03","mydb":"1a98b8b3.10c0e7","name":"","x":590,"y":980,"wires":[["efbed8da.88563"]]},{"id":"27860817.b042a","type":"inject","z":"8439955d.a5d03","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"onceDelay":"","x":90,"y":980,"wires":[["720ed20e.967a44"]]},{"id":"720ed20e.967a44","type":"function","z":"8439955d.a5d03","name":"verbleibende Flaschen","func":"msg.topic = \"SELECT MIN(`Leere Flaschen`) FROM `bottlefillinglayout`.`vorratslager`;\";\nreturn msg;\n","outputs":1,"noerr":0,"x":320,"y":980,"wires":[["87adc7d1.e86008"]]},{"id":"f60ed178.71871","type":"ui_gauge","z":"8439955d.a5d03","name":"","group":"c25b0975.21c988","order":1,"width":0,"height":0,"gtype":"gage","title":"Flaschen auf eiener Palette:","label":"Flaschen","format":"{{value}}","min":0,"max":"800","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":380,"wires":[]},{"id":"da991fe4.8a84","type":"ui_gauge","z":"8439955d.a5d03","name":"","group":"db7a4589.b986d","order":5,"width":0,"height":0,"gtype":"gage","title":"verbleibende Deckel","label":"Stück","format":"{{payload[0][\"MIN(Flaschendeckel)\"]}}","min":"5000","max":"0","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":840,"y":1040,"wires":[]},{"id":"e3f0104f.8fd8d","type":"mysql","z":"8439955d.a5d03","mydb":"1a98b8b3.10c0e7","name":"","x":590,"y":1040,"wires":[["da991fe4.8a84"]]},{"id":"1ab994cd.37a8cb","type":"inject","z":"8439955d.a5d03","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"onceDelay":"","x":90,"y":1040,"wires":[["5e9017c6.d54d7"]]},{"id":"5e9017c6.d54d7","type":"function","z":"8439955d.a5d03","name":"verbleibende Flaschendeckel","func":"msg.topic = \"SELECT MIN(Flaschendeckel) FROM `bottlefillinglayout`.`vorratslager`;\";\nreturn msg;\n","outputs":1,"noerr":0,"x":350,"y":1040,"wires":[["e3f0104f.8fd8d"]]},{"id":"ae2ad6bc.020f5","type":"inject","z":"8439955d.a5d03","name":"Go","topic":"ns=2;s=PSTV.P1.DS2.Int64","payload":"","payloadType":"num","repeat":"1","crontab":"","once":false,"onceDelay":"","x":70,"y":540,"wires":[["a4e70eb1.c844d"]]},{"id":"845c9873.3757d","type":"OpcUa-Client","z":"8439955d.a5d03","endpoint":"26cd480b.e5327","action":"subscribe","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","name":"","x":440,"y":540,"wires":[["767a36af.287698","a487a967.54fa3"]]},{"id":"767a36af.287698","type":"debug","z":"8439955d.a5d03","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":540,"wires":[]},{"id":"a4e70eb1.c844d","type":"delay","z":"8439955d.a5d03","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":540,"wires":[["845c9873.3757d"]]},{"id":"a487a967.54fa3","type":"ui_gauge","z":"8439955d.a5d03","name":"","group":"c25b0975.21c988","order":1,"width":0,"height":0,"gtype":"gage","title":"Aussortierte Flaschen:","label":"Flaschen","format":"{{value}}","min":0,"max":"800","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":580,"wires":[]},{"id":"69db7e00.1c0ba4","type":"switch","z":"8439955d.a5d03","name":"","property":"toggle-me","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":1840,"wires":[["e88b7334.a1b24"],["f6207e0d.d271e"]]},{"id":"ef42c37c.362d5","type":"change","z":"8439955d.a5d03","name":"","rules":[{"t":"set","p":"toggle-me","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1860,"wires":[["e4ae368e.ccee38","f7ffe465.8041"]]},{"id":"8523594e.26bae8","type":"change","z":"8439955d.a5d03","name":"","rules":[{"t":"set","p":"toggle-me","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1820,"wires":[["e4ae368e.ccee38","f7ffe465.8041"]]},{"id":"f6207e0d.d271e","type":"change","z":"8439955d.a5d03","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1860,"wires":[["ef42c37c.362d5"]]},{"id":"e88b7334.a1b24","type":"change","z":"8439955d.a5d03","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1820,"wires":[["8523594e.26bae8"]]},{"id":"f7ffe465.8041","type":"ui_text_input","z":"8439955d.a5d03","name":"","label":"","tooltip":"","group":"1567abf8.9a16bc","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":960,"y":1900,"wires":[[]]},{"id":"28b83169.597f4e","type":"ui_button","z":"8439955d.a5d03","name":"","group":"1567abf8.9a16bc","order":1,"width":0,"height":0,"passthru":true,"label":"Eine Flasche produzieren","tooltip":"2x klicken um eine Flasche zu produzieren","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":120,"y":1840,"wires":[["69db7e00.1c0ba4"]]},{"id":"80608772.b99808","type":"comment","z":"8439955d.a5d03","name":"wenn flow-Status auf \"true\", dann setze auf \"false\"; wenn \"false\" dann setze auf \"true\"","info":"","x":350,"y":1700,"wires":[]},{"id":"e4ae368e.ccee38","type":"OpcUa-Item","z":"8439955d.a5d03","item":"ns=2;s=PSTV.P2.DS2.BoolToggle","datatype":"Boolean","value":"true","name":"","x":1020,"y":1760,"wires":[["1b137cce.2e87b3"]]},{"id":"1b137cce.2e87b3","type":"OpcUa-Client","z":"8439955d.a5d03","endpoint":"26cd480b.e5327","action":"write","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","name":"","x":1240,"y":1760,"wires":[[]]},{"id":"c0139c37.48737","type":"OpcUa-Item","z":"8439955d.a5d03","item":"ns=2;s=PSTV.P2.DS2.Int16","datatype":"Int16","value":"","name":"","x":430,"y":2060,"wires":[["9dcb9591.a3f998"]]},{"id":"9dcb9591.a3f998","type":"OpcUa-Client","z":"8439955d.a5d03","endpoint":"26cd480b.e5327","action":"write","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","name":"","x":620,"y":2060,"wires":[[]]},{"id":"c6c95b9e.e041f","type":"comment","z":"8439955d.a5d03","name":"Schraubverschlussanzahl definieren","info":"\n","x":180,"y":2000,"wires":[]},{"id":"ee2bb51c.65b7e8","type":"comment","z":"8439955d.a5d03","name":"Flaschen per Klick produzieren","info":"Um Flaschen per Mausklick über den Webbrowser produziren zu können ist folgendes in Visual Components umzustellen:\n\n\n1.  Den \"ReferenceFeeder\" (Geburtsort der Flaschen) in der Limonadenfabrik auswählen \n\n2.  Auf den Reiter \"Modelierung\" klicken\n \n3.  Links im Fenster \"Komponenten-Grafik\" im die Eigenschaften ausklappen und im unteren Bereich \"CreateOnlyOnSignal\" auswählen\n  \n4.  In dem Fenster \"Eigenschaft\" auf der rechten Seite des Programms unter dem Punkt \"Wert\", einen Hacken bei \"CreateOnlyOnSignal\" setzen\n\n!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!\n!!! Die Produktion muss beim Auschecken des Hackens wieder neugestartet werden !!!\n!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!","x":170,"y":1620,"wires":[]},{"id":"60d78f81.5b6b5","type":"comment","z":"8439955d.a5d03","name":"!!!!!!!!!!!!!!!!! -- READ ME -- !!!!!!!!!!!!!!!!!","info":"Um Flaschen per Mausklick über den Webbrowser produziren zu können ist folgendes in Visual Components umzustellen:\n\n1.  Den \"ReferenceFeeder\" (Geburtsort der Flaschen) in der Limonadenfabrik auswählen \n\n2.  Auf den Reiter \"Modelierung\" klicken\n \n3.  Links im Fenster \"Komponenten-Grafik\" im die Eigenschaften ausklappen und im unteren Bereich \"CreateOnlyOnSignal\" auswählen\n  \n4.  In dem Fenster \"Eigenschaft\" auf der rechten Seite des Programms unter dem Punkt \"Wert\", einen Hacken bei \"CreateOnlyOnSignal\" setzen\n\n!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!\n!!! Die Produktion muss beim Auschecken des Hackens wieder neugestartet werden !!!\n!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!","x":180,"y":1660,"wires":[]},{"id":"390575b.248310a","type":"ui_numeric","z":"8439955d.a5d03","name":"","label":"Flaschen gleichzeitig zuschrauben","tooltip":"min 1 max 5","group":"1567abf8.9a16bc","order":4,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"1","max":"5","step":1,"x":180,"y":2060,"wires":[["c0139c37.48737"]]},{"id":"b2fdaa4b.4933","type":"ui_text_input","z":"8439955d.a5d03","name":"name","label":"Name","tooltip":"","group":"28790aca.69659e","order":1,"width":0,"height":0,"passthru":false,"mode":"text","delay":"300","topic":"name","x":230,"y":1320,"wires":[["c280068d.d7d56"]]},{"id":"fddf7120.ab6f6","type":"ui_text_input","z":"8439955d.a5d03","name":"code","label":"Palettenanzahl","tooltip":"","group":"28790aca.69659e","order":3,"width":0,"height":0,"passthru":false,"mode":"number","delay":"300","topic":"code","x":230,"y":1380,"wires":[["c280068d.d7d56"]]},{"id":"30b4d411.051d84","type":"ui_button","z":"8439955d.a5d03","name":"save-button","group":"28790aca.69659e","order":4,"width":0,"height":0,"passthru":false,"label":"Save","color":"","bgcolor":"","icon":"","payload":"{}","payloadType":"global","topic":"save-button","x":250,"y":1440,"wires":[["c280068d.d7d56"]]},{"id":"c280068d.d7d56","type":"join","z":"8439955d.a5d03","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":430,"y":1320,"wires":[["8b5d502a.93b528"]]},{"id":"8b5d502a.93b528","type":"switch","z":"8439955d.a5d03","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"save-button","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":567.5,"y":1320,"wires":[["1301aa2f.48934e"]]},{"id":"8c9682e6.78bd48","type":"mysql","z":"8439955d.a5d03","mydb":"1a98b8b3.10c0e7","name":"","x":950,"y":1320,"wires":[["3c7424dc.cf78fc"]]},{"id":"1301aa2f.48934e","type":"function","z":"8439955d.a5d03","name":"function","func":"msg.topic=\"INSERT INTO bottlefillinglayout.bestellungen(Name,Palettenanzahl) VALUES (?,?)\";\nmsg.payload=[msg.payload.name,msg.payload.code];\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":1320,"wires":[["8c9682e6.78bd48"]]},{"id":"3c7424dc.cf78fc","type":"ui_toast","z":"8439955d.a5d03","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Bestellung gespeichert!","name":"","x":950,"y":1260,"wires":[["c12d81d5.09ce2"]]},{"id":"c12d81d5.09ce2","type":"change","z":"8439955d.a5d03","name":"Clear Value","rules":[{"t":"set","p":"payload","pt":"msg","to":"null","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":110,"y":1240,"wires":[["b2fdaa4b.4933","fddf7120.ab6f6"]]},{"id":"4303c173.778a3","type":"comment","z":"8439955d.a5d03","name":"Bestellung","info":"","x":80,"y":1180,"wires":[]},{"id":"ac4b1b0b.5d1798","type":"inject","z":"8439955d.a5d03","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":1760,"wires":[["e626ec15.04005"]]},{"id":"e626ec15.04005","type":"change","z":"8439955d.a5d03","name":"","rules":[{"t":"set","p":"toggle-me","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1760,"wires":[["e4ae368e.ccee38"]]},{"id":"baf35e56.f97208","type":"ui_group","z":"","name":"Lagerbestand","tab":"8b556fbb.9297a8","disp":true,"width":"6","collapse":false},{"id":"c25b0975.21c988","type":"ui_group","z":"","name":"Live-Statistiken","tab":"ed6e4776.e8ee58","disp":true,"width":"6","collapse":false},{"id":"26cd480b.e5327","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://IMCTA-NB:48010","secpol":"None","secmode":"NONE","login":false},{"id":"1a98b8b3.10c0e7","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"bottlefillinglayout","tz":""},{"id":"db7a4589.b986d","type":"ui_group","z":"","name":"leere Flaschen","tab":"b3f4e44d.f0762","disp":true,"width":"6","collapse":false},{"id":"1567abf8.9a16bc","type":"ui_group","z":"","name":"Aktorensteuerung","tab":"873a21c0.839f2","disp":true,"width":"6","collapse":false},{"id":"28790aca.69659e","type":"ui_group","z":"","name":"Bestellung aufgeben","tab":"7d13830a.91350c","order":1,"disp":true,"width":"6","collapse":false},{"id":"8b556fbb.9297a8","type":"ui_tab","z":"","name":"Lagerbestand","icon":"dashboard","disabled":false,"hidden":false},{"id":"ed6e4776.e8ee58","type":"ui_tab","z":"","name":"Live-Produktion","icon":"dashboard","disabled":false,"hidden":false},{"id":"b3f4e44d.f0762","type":"ui_tab","z":"","name":"Resourcen","icon":"dashboard","disabled":false,"hidden":false},{"id":"873a21c0.839f2","type":"ui_tab","z":"","name":"Geräte","icon":"dashboard","order":1},{"id":"7d13830a.91350c","type":"ui_tab","z":"","name":"Getränkbestellung","icon":"dashboard","order":3,"disabled":false,"hidden":false}]